body {
    font-family: var(--default-font);
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    background-color: var(--block-bg-color);
    color: var(--text-color);
    color-scheme: var(--tg-color-scheme);
    margin: 0;
    padding: 0;
    width: 1px;
    min-width: 100%;
  
    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --block-bg-color: var(--tg-theme-bg-color);
    --bg-color: #ebedf0;
    --animation: .15s ease;
    --page-animation-duration: .3s;
    --page-animation: var(--page-animation-duration) ease;
    --status-height: 48px;
    --accent-color: #31b545;
    --main-color: #f8a917;
    --text-color: #222;
    --page-hint-color: #83878a;
    --hint-color: #74787a;
    --placeholder-color: #999da1;
    --ripple-duration: .45s;
    --ripple-end-duration: .3s;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    
  }
  html.dark body {
    --block-bg-color: var(--tg-theme-bg-color);
    --bg-color: #0f0f0f;
    --text-color: #fff;
    --page-hint-color: #9b9ba1;
    --hint-color: #64666d;
    --placeholder-color: #5d6163;
  }

table.table-2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table.table-2 tr {
	background-color: var(--tg-theme-secondary-bg-color);
}
table.table-2 th, table.table-2 td {
	text-align: left;
    padding: 8px;
}

table.table-2 th{
	font-weight: bold;
}
td,a{
    color:#c7c7c7;
}
span{
    text-align: center;
    color:pink;
}
b{
    color:pink;
    font-weight: 400;
    font-size: 20px;
}
td:nth-child(even){
    background-color: var(--tg-theme-bg-color);
}
.line{
    background-color: var(--tg-theme-text-color);
}

@media screen and (max-width: 600px) {
	table.table-2 tr{
		display: block;
	}
	table.table-2 tr{
        
	}
	table.table-2 th, table.table-2 td{
		display: block;
		text-align: center;
	}
}
