body {
    font-family: var(--default-font);
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    background-color: var(--block-bg-color);
    color: var(--text-color);
    color-scheme: var(--tg-color-scheme);
    margin: 0;
    padding: 0;
    width: 1px;
    min-width: 100%;
  
    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --block-bg-color: var(--tg-theme-bg-color);
    --bg-color: #ebedf0;
    --animation: .15s ease;
    --page-animation-duration: .3s;
    --page-animation: var(--page-animation-duration) ease;
    --status-height: 48px;
    --accent-color: #31b545;
    --main-color: #f8a917;
    --text-color: #222;
    --page-hint-color: #83878a;
    --hint-color: #74787a;
    --placeholder-color: #999da1;
    --ripple-duration: .45s;
    --ripple-end-duration: .3s;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    
  }
  html.dark body {
    --block-bg-color: var(--tg-theme-bg-color);
    --bg-color: #0f0f0f;
    --text-color: #fff;
    --page-hint-color: #9b9ba1;
    --hint-color: #64666d;
    --placeholder-color: #5d6163;
  }

table.table-2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table.table-2 tr {
	background-color: var(--tg-theme-secondary-bg-color);
}
table.table-2 th, table.table-2 td {
	text-align: left;
    padding: 8px;
}

table.table-2 th{
	font-weight: bold;
}
td,a{
    color:var(--text-color);
}
span{
    text-align: center;
    color:var(--text-color);
}
b{
    color:var(--text-color);
    font-weight: 400;
    font-size: 20px;
}
td:nth-child(even){
    background-color: var(--tg-theme-bg-color);
}
.line{
    background-color: var(--tg-theme-text-color);
}

@media screen and (max-width: 600px) {
	table.table-2 tr{
		display: block;
	}
	table.table-2 th, table.table-2 td{
		display: block;
		text-align: center;
	}
}


.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: var(--tg-theme-bg-color);;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--tg-theme-button-color);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    line-height: 25px;
    text-align: center;
}




